<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Arbol de Navidad Interactivo</title>
<meta name="description" content="">
<meta name="author" content="">

<script src="js/angular.min.js"></script>
<script src="configs.js"></script>

</head>
<body>
  <%- include controller.ejs %>
</body>
</html>

